{% extends 'base.html.twig' %}

    {% block body %}
        <main class="app app--login">
            <section class="popup">
            <h2 class="popup__title">Inscription</h2>
                {% block fos_user_content %}
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'login__input'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                {% endblock fos_user_content %}
            <hr class="footer__separator">
            <p>Déjà un compte ? <a href="/login" class="login__link">Se connecter</a></p>
            </section>
        </main>
{% endblock %}