{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2>
            Blog page
        </h2>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-lg-12">
                    <div class="homecard__imgWrap">
                        <img src="/uploads/{{ article.firstImage }}" alt="">
                    </div>
                    <div class="homecard__body">
                        <h5 class="homecard-title">{{ article.title }}</h5>
                        <p class="homecard-text">{{ article.content }}</p>
                    </div>
                </div>
        </div
    </div>
{% endblock %}
