.footer {
	width: 100vw;
	min-height: 20px;
	background-color: $dark-green;
	color: white;
	padding: 2rem 5% 4rem;
	// margin-top:4rem;
	font-weight:300;

  @include breakpoint(medium){
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 35% 15% 30% 20%;
  }
}
.contact-infos p{
	margin:0.5rem 0;
}
.footer h4{
	text-transform: uppercase;
	font-size:1.1rem;
	margin-bottom:1rem;
}
.footer a{
	color: white;
}
.site-description{
	grid-column: 1 / 2;
  margin-bottom:2rem;
}
.site-description__logo {
	width:5rem;
	font-weight:bold;
	font-size:2rem;
	display: flex;
	align-items: baseline;
}

.site-description__logo img {
	width:100%;
}
.socials__icon{
	margin:0 0.5rem;
	height:1.5rem;
	display: inline-block;
}
.socials__icon img{
	max-width:100%;
	max-height: 100%;
}
.contact-infos{
	grid-column: 3 / 4;
  margin-bottom:2rem;
}
.footer__separator{
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	margin:2rem 0 1rem;
}
.secondary-nav{
	grid-column: 1 / 4;
	font-weight:normal;
  margin-bottom:2rem;

}
.secondary-nav__item{
	margin-left:1rem;
  @include breakpoint(xsmall){
    display: block;
  }
}
.copyright{
	grid-column: 4 / -1;
	text-align: left;
	font-weight:normal;
}