.app--home, .app--page-produit{
  background: $beige;
}
.app{
  padding:4rem 5%;
}
.section__header{
  margin-bottom:2rem;
}
.section__title{
  font-family:$font-accent;
  font-size:1.8rem;
  margin-bottom:0.5rem;
}
.section__subtitle{
  font-weight:normal;
}
.section{
  margin:3rem 0 5rem;
}